<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- STYLESHEETS -->
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Slackey" rel="stylesheet">

    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/styles.css">
    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
    <title>Free Pizza Now!</title>
  </head>
  <body>
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-6 col-md-offset-1 pull-left">
          <h3>Free Pizza Now</h3>
        </div>
        <div class="col-md-4 col-md-offset-1 pull-right">
          <div class="navbar-header">
            <a class="btn btn-warning" href="#" id="navSignup">Home</a></li>
            <a class="btn btn-warning" href="#" id="navEventsList">Events</a></li>
            <a class="btn btn-warning" href="#" id="navVenues">Venues</a></li>
            <a class="btn btn-warning" href="#" id="navAbout">About</a></li>
            <a class="btn btn-warning" href="#" id="navSignUp">Sign Up</a></li>
          </div>
        </div>
      </div>
    </div>
    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2 id="eventH2">Events</h2>
        </div>
      </div>
      <!-- display messages -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div id="messageContainer"></div>
        </div>
      </div>
      <!-- add event -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <button id="eventAdd" class="btn btn-warning">Add Event</button>
        </div>
      </div>

      <!-- events -->
      <div class="row">
        <div id="eventsContainer" class="col-md-10 col-md-offset-1">
        </div>
      </div>

    </section>
    <div class="navbar navbar-default navbar-fixed-bottom">
       <div class="container">

        <a href="javascript:alert('FAIL:\nAin\'t nothin\' in life free!&#9785;');" class="navbar-btn btn-danger btn pull-left">
        <span class="glyphicon glyphicon-star"></span>Click for a chance to win FREE PIZZA!</a>
         <p class="navbar-text pull-right">
           &copy; 2017 - Site Built By
           <a href="https://github.com/jamesrsilvester">James Silvester</a> &amp;
           <a href="https://github.com/calJersey">Some Dude</a>
         </p>

       </div>
     </div>

    <!-- begin songModal: this is not visible until you call .modal() on it -->
    <div class="modal fade" tabindex="-1" role="dialog" id="eventsModal">
      <form name="eventAddForm" id="eventAddForm" method="POST" action="return false;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create Event</h4>
          </div>
          <div class="modal-body">

            <fieldset class='form-horizontal'>
              <!-- Event name -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="songName">Event Name</label>
                <div class="col-md-4">
                  <input id="name" name="name" type="text" placeholder="required" class="form-control input-md" required>
                </div>
              </div>
              <!-- Event desc -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="description">Event Description</label>
                <div class="col-md-4">
                  <textarea name="description" id="description" class="form-control input-md" required></textarea>
                </div>
              </div>
              <!-- Event Date -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="events">Event Date &amp; Time</label>
                <div class="col-md-4">
                  <input id="dateAndTime" name="dateAndTime" type="text" placeholder="required" class="form-control input-md" required>
                </div>
              </div>
              <!-- Event Venue -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="venue">Event Venue</label>
                <div class="col-md-4">
                  <input id="venue" name="venue" type="text" placeholder="required" class="form-control input-md" required>
                </div>
              </div>
              <!-- Event Date -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="address">Event Address</label>
                <div class="col-md-4">
                  <input id="address" name="address" type="text" placeholder="required" class="form-control input-md" required>
                </div>
              </div>
              <!-- Event Image -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="Image">Event Image</label>
                <div class="col-md-4">
                  <input id="image" name="image" type="text" placeholder="required" class="form-control input-md" required>
                </div>
              </div>
            </fieldset>

          </div>
          <div class="modal-footer">
            <input type="reset" class="btn btn-default" id="closeModal" value="Close">
            <button type="submit" class="btn btn-primary" id="saveEvent">Add Event</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </form>
    </div><!-- /.modal -->


  </body>
</html>
