body {
  font-family: 'Luckiest Guy', cursive;
  font-weight: 400;
}

.btn {
  padding: 4px 12px;
}


.jumbotron {
  background-image: url('../images/template/slide01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  height: 200px;
  background-color: #fff;
  padding-top: 7px;
  margin-bottom: 15px;
}

.jumbotron .container {
  height: 100px;
}

h3 {
  font-family: 'Slackey', cursive;
  font-size: 64px;
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Slackey', cursive;
  font-size: 48px;
  padding: 0;
  margin: 0;
}

.navbar-header {
  float: right;
  background-color: #fff;
  padding: 7px 7px 7px 7px;
  border-radius: 6px;
  margin-top: 7px;
  margin-right: 7px;
}

.row {
  padding: 2px;
  margin: 2px;
}

.eventInput{
  display:none;
}

#eventAdd {
  margin-bottom: 10px;
}
